<launch>
    
    <group ns="$(env ROBOT_NAMESPACE)">
    
        <include file="$(find draconis_demo_datafeed)/launch/node_data_for_vision_perception.launch" />

        <include file="$(find draconis_demo_datafeed)/launch/node_data_for_obstacle_detection.launch" />

        <include file="$(find draconis_demo_datafeed)/launch/node_relay_dog_topics.launch" />

    </group>

</launch>