<launch>
    <node name="node_data_for_obstacle_detection" pkg="draconis_demo_datafeed" type="node_data_for_obstacle_detection" output="screen">

        <param name="topic_cloud_in" value="/$(env DOG_NAME)/l515/depth/color/points" type="str" />
        <param name="topic_cloud_out" value="/$(env DOG_NAME)/l515_cloud" type="str" /> 

        <param name="cloud_out_frame_id" value="$(env DOG_NAME)/map" type="str" />
        <param name="sampling_rate" value="4" type="double"/>
        <param name="leaf_size_down_sample" value="0.015" type="double"/>

        <param name="init_transform_frame_id" value="$(env DOG_NAME)/l515_link" type="str"/>
        <param name="init_frame_rot_y" value="90" type="double"/>
        <param name="init_frame_rot_z" value="-90" type="double"/>
        <param name="init_frame_trans_x" value="4" type="double"/>
        <param name="init_frame_trans_z" value="4" type="double"/>
        <param name="init_frame_rot_x" value="0" type="double"/>

    </node>
</launch>